/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    /* Substitua 'sans-serif' se preferir uma fonte de fallback diferente */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.design-example {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}