/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: #333;
    text-align: center;
    padding: 20px;
}

header img {
    float: left;
    border-style: double;
    width: 100px;
    margin-right: 10px;
}

header p {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
    color: #f5f5f5;
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Garante que o corpo e o HTML ocupem 100% da altura da janela de visualização */
}

.hero {
    position: relative;

}

.hero img {
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #1d163c;
    padding: .8rem;
    white-space: nowrap;
}

.hero-title p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.1rem;
}

/* Estilizando o contêiner do botão 
.button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilizando o link dentro do botão 
.button a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilizando o link quando passa o mouse sobre ele 
.button a:hover {
    background-color: #3498db;
}
*/
/* TEMP ************************* */
.hero-temp {
    position: relative;
}

.hero-temp img {
    width: 100%;
    height: auto;
}

.hero-info {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #6596c5);
    border: 1px solid rgba(101, 150, 197, 1);
    padding: 0.8rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.65;
    white-space: nowrap;
}

.hero-info p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 1.1rem;
}

@media only screen and (max-width: 400px) {

    .hero-title-md,
    .hero-title-lg {
        display: none;
    }
}

@media only screen and (max-width: 960px) and (min-width: 400px) {

    .hero-title-sm,
    .hero-title-lg {
        display: none;
    }
}

@media only screen and (min-width: 960px) {

    .hero-title-sm,
    .hero-title-md {
        display: none;
    }
}

h1 {
    margin-top: 10px;
    color: #fff;
}

nav {
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.menu-icon {
    display: block;
    margin: 10px;
    font-size: 24px;
    align-self: center;
    cursor: pointer;
}

.icon-open {
    display: block;
}

.icon-close {
    display: none;
}

body {
    transition: background-color 0.5s ease;

}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.container {
    text-align: center;
}

#toggle-btn {
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

.caption {
    display: block;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}


.nav-link {
    display: inline-block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.nav-link::before {

    margin-right: 5px;
    color: #2c3e50;
}

.nav-link::after {

    margin-left: 5px;
    color: #2c3e50;
}

.attribute {
    padding: 15px;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 20px;
    overflow: hidden;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2c3e50;
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

h4 {
    text-align: center;
    font-size: 1.80em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

#sidebar-content {
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #2c3e50;
    color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    list-style-type: none;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    list-style-type: none;
}

/* Estilizando a seção de eventos */
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

/* Estilizando cada evento dentro da seção */
.event {
    flex: 1;
    margin: 0 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

/* Estilizando o título */
.events h2 {
    width: 100%;
    /* Faz com que o título ocupe a largura total da seção */
    margin-bottom: 20px;
    /* Adiciona espaçamento abaixo do título (opcional) */
}

/* Estilizando a seção de clima */
.weather {
    text-align: center;
    /* Centraliza o conteúdo da seção */
    margin-top: 30px;
    /* Adiciona espaçamento acima da seção (pode ajustar conforme necessário) */
    margin-bottom: 30px;
    /* Adiciona espaçamento abaixo da seção (pode ajustar conforme necessário) */
}

/* Estilizando o título da seção */
.weather h2 {
    margin-bottom: 10px;
    /* Adiciona espaçamento abaixo do título (pode ajustar conforme necessário) */
}

/* Estilizando a área de informações sobre o clima */
.weather-info {
    display: flex;
    justify-content: center;
    /* Centraliza os elementos filhos horizontalmente */
    align-items: center;
    /* Centraliza os elementos filhos verticalmente */
}

/* Estilizando o ícone do clima */
.weather-icon {
    margin-right: 20px;
    /* Adiciona espaçamento à direita do ícone (pode ajustar conforme necessário) */
}

/* Estilizando os dados do clima */
.weather-data {
    text-align: left;
    /* Alinha os dados do clima à esquerda */
}

/* Estilizando o contêiner de cards */
.cards {
    display: flex;
    max-width: 1200px;
    /* Define a largura máxima do contêiner de cards (pode ajustar conforme necessário) */
    width: 100%;
    /* Faz com que o contêiner de cards ocupe a largura total disponível */
}

/* Estilizando cada card dentro do contêiner */
.card {
    flex: 1;
    /* Faz com que cada card ocupe uma proporção igual do espaço disponível */
    margin: 0 10px;
    /* Adiciona uma margem para separar os cards (pode ajustar conforme necessário) */
    padding: 20px;
    /* Adiciona espaçamento interno para melhorar a aparência (pode ajustar conforme necessário) */
    text-align: center;
    /* Espaçamento */
}

/* Estilizando o conteúdo dentro de cada card */
.card h3 {
    margin-bottom: 5px;
    /* Adiciona espaçamento abaixo do título (pode ajustar conforme necessário) */
}

/* Estilizando a área de informações de contato dentro de cada card */
.contact-info {
    margin-top: 15px;
    /* Adiciona espaçamento acima da área de informações de contato (pode ajustar conforme necessário) */
}

/* Estilizando o endereço dentro de cada card */
.contact-info address {
    margin-bottom: 10px;
    /* Adiciona espaçamento abaixo do endereço (pode ajustar conforme necessário) */
}

/* Estilizando a lista de informações de contato dentro de cada card */
.contact-info ul {
    list-style: none;
    /* Remove os estilos padrão da lista */
    padding: 0;
    /* Remove o espaçamento interno da lista */
}

/* Estilizando os itens de lista dentro de cada card */
.contact-info li {
    margin-bottom: 5px;
    /* Adiciona espaçamento abaixo de cada item da lista (pode ajustar conforme necessário) */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

.copyright_text {
    font-size: 14px;
}

.last_modified {
    font-size: 12px;
}

.course {
    font-size: 12px;
}


/* Mobile Styles */
@media (max-width: 768px) {
    header img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 1.5em;
    }

    nav {
        text-align: center;
    }

    .nav-link {
        display: block;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
    }

    .card-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card {
        border-radius: 10px;
    }

    .card-content {
        padding: 20px;
        list-style-type: none;
    }

    .menu-icon {
        display: block;
        margin: 10px;
        font-size: 24px;
        align-self: center;
    }

    nav {
        display: none;
    }

    nav.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-bottom: 10px;
    }
}

/* Larger screen styles within the media query */
@media (min-width: 769px) {
    header img {}

    h1 {}

    nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        display: none;
        /* ou ajuste conforme necessário para dispositivos maiores */
    }

    .nav-link {
        margin-right: 10px;
        margin-bottom: 0;
    }

    main {
        column-count: 1;
    }

}

.map {
    grid-column: span 3;
    margin-right: 20px;
}

.map iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    .events {
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: column;
        /* Organiza os cards em uma coluna */
        align-items: center;
        /* Centraliza horizontalmente */
    }

    .card {
        margin: 0 10px;
        /* Ajusta as margens entre os cards */
    }


    .event {
        margin: 10px;
    }


    .hero_img h1 {
        font-size: 1.5em;
    }

}

/* Discover Page */

.sidebar {
    display: grid;
    /*stacked on top of each other*/
    grid-template-columns: 1fr;
    grid-template-areas:
        "left"
        "right";
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.galleryImage {
    position: relative;
    overflow: hidden;
}

.galleryImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.galleryImage .label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px 0 5px 0;
    padding: 5px;
}

.attractions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}



.attractions {
    font-size: 0.9em;
    font-weight: 400;
}

.attraction {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.statistics {
    font-size: 0.9em;
    font-weight: 400;
    flex: 1;
    margin: 0 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {


    .sidebar {
        display: flex;
        flex-direction: column;
    }
}

input {
    border: 1px solid #bebfc1;
    padding: 10px 30px;
    margin: 10px;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    display: block;
    color: black;
    width: calc(100% - 90px);
}

input[type=submit] {
    border: 2px solid #2c3e50;
    display: block;
    /* Altere para display: block para que o botão ocupe toda a largura disponível */
    width: 100%;
    /* Defina a largura como 100% para ocupar toda a largura do container */
    background-color: #2c3e50;
    color: #fff;
    transition: background-color ease-in-out 0.2s;
    box-sizing: border-box;
    /* Mantém a largura total do elemento considerando padding e borda */
    padding: 10px 20px;
    /* Ajuste o preenchimento conforme necessário */
    text-align: center;
    /* Centralize o texto dentro do botão */
}


input[type=submit]:hover {
    background-color: #405258;
    color: #fff;
}

input[type=radio] {
    border: 1px solid #bebfc1;
    display: inline-block;
    margin: 10px 0;
    width: 20px;
}

label {
    display: block;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

textarea {
    border: 1px solid #bebfc1;
    padding: 10px 30px;
    margin: 10px;
    height: 296px;
    width: calc(100% - 90px);
    display: block;
    font-size: 1em;
    border-radius: 5px;
    display: block;
    color: black;
    resize: none;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

form {
    display: block;
    margin-top: 0em;
}

.title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0 0;
    /* Adiciona margem superior de 1em e mantém as margens laterais em 0 */
    text-align: center;
}

.label {
    display: block;
    padding-left: 20px;
    margin-top: 3px;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 400;
    width: 100%;
}


.thanks-container {
    height: 50vh;
    padding: 20px;
    padding-top: 10vh;
    text-align: center;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5px;
}

@media screen and (max-width: 768px) {
    .blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .blocks {
        grid-template-columns: 1fr;
    }
}

/*----------- FORM Page --------------*/

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "form"
        "membership";
    color: var(--text-color-main);
    margin: 0 20px;
}

.header {
    grid-area: header;
    place-self: center;
}

.column1 {
    grid-area: form;
}

.column2 {
    grid-area: membership;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.membership-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.membership-cards h2 {
    text-align: center;
    margin: 0;
}

.membership-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.member-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #999;
    border-radius: 4px;
}

.member-card h3 {
    margin: 0 0 5px 0;
    padding: 1.2rem;
}

.member-card div {
    padding: 0.75rem;
}

.member-card p {
    margin: 0;
}

.member-card ul {
    margin-top: 0;
}

.np {
    background-color: seaGreen;
    color: var(--text-color-secondary);
}

.bronze {
    background-color: #cd7f32;
    color: var(--text-color-secondary);
}

.silver {
    background-color: #c0c0c0;
    color: var(--text-color-main);
}

.gold {
    background-color: #ffd700;
    color: var(--text-color-main);
}



form legend {
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-weight: bold;
    /* Adiciona negrito ao texto dentro do elemento legend */
    font-size: 1.2em;
    /* Aumenta o tamanho da fonte */
}



form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent1-color);
    font-size: 0.8rem;
}

form label.top input,
form label.top textarea,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color-main);
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: var(--text-color-main);
}

form .submitBtn {
    border: none;
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form .submitBtn:hover {
    background-color: var(--accent4-color);
    cursor: pointer;
}

form label.top input:required {
    border-left: var(--error-text) solid 6px;
}

form label.top input:required:valid {
    border-left: var(--success-text) solid 6px;
}

.success {
    margin-top: 5px;
    padding: 15px;
    background-color: var(--success-background);
    border-color: var(--success-border);
    color: var(--success-text);
}

.error {
    margin-top: 5px;
    padding: 15px;
    background-color: var(--error-background);
    border-color: var(--error-border);
    color: var(--error-text);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#directory {
    margin: 2rem;
    position: relative;
}

#directory h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.menu {
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
    cursor: pointer;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    padding: 0.35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    color: var(--text-color-main);
    height: 310px;
}

.member h3 {
    font-size: 1.2rem;
}

.member p {
    font-size: 0.75rem;
}

.member a {
    font-size: 0.65rem;
    color: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid section>* {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Garante que os itens se estendam para preencher o contêiner verticalmente */
}

.list section {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    /* Uso de minmax para garantir que as colunas possam diminuir até zero */
    margin: 0;
    height: auto;
    /* Altura automática para se ajustar ao conteúdo */
}

.list section>* {
    margin: 0 0.5em;
    /* Reduzi um pouco as margens para economizar espaço */
    max-width: 100%;
    /* Garante que os itens não ultrapassem a largura do contêiner */
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 0.75rem;
}

.list section:nth-child(even) {
    background-color: #e5e6e7;
}



/* Weather Article ********************************* */

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.weather-icon img {
    width: 70px;
    height: auto;
}

#weather {
    width: 100%;
}

#weather h3,
#five-day h3 {
    margin: 0;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;

}

#weather p {
    margin: 10px 0 0 0;
    text-align: center;
}

#weather figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.temp-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-temp {
    font-size: 3em;
    font-weight: 800;
}

.temp-area figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

#weather-description {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.alt-weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 5px;
}

.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 15px;
    /* border: 1px solid var(--accent3-color); */
    font-size: 0.8rem;
}

.weather-box span {
    font-weight: 800;
    font-size: 1.5rem;
}

#five-day {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#forecast .weather-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    /* margin: 20px 0; */
}

#forecast .weather-day:not(:last-child) {
    border-bottom: 1px solid black;
}

.weather-day h5 {
    /* font-size: 1.2rem; */
    font-weight: 800;
    text-transform: uppercase;
}

.weather-day figcaption {
    font-size: 0.7rem;
    text-transform: uppercase;
}

#forecast figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.temp-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-div p {
    font-size: 0.8rem;
    margin: 0;
}

.temp-div p:nth-last-child(1) {
    font-size: 1.2rem;
    font-weight: 800;
}

/* Banner on home page */
#banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    /* Defina a largura do card conforme necessário */
}

.card img {
    width: 75px;
    /* Largura da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Espaço entre o topo do card e a imagem */
}

.spotlights {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;


}