/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    #nav-title {
        font-size: 1.5em;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.sidebar {
    grid-template-columns: 0.8fr 1.8fr;
    grid-template-areas:
        "left right";
}

.galleryImage:hover img {
    transform: scale(1.1);
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5px;
}

@media screen and (max-width: 768px) {
    .blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .blocks {
        grid-template-columns: 1fr;
    }
}